version: "3.8"

x-backend-build: &backend-build
  context: ./backend/app
  dockerfile: Dockerfile

services:
  backend:
    container_name: technium_backend
    build: *backend-build
    command: python3 -m debugpy --listen 0.0.0.0:5678 -m app --host 0.0.0.0 --port 8082 --reload True --docker
    image: technium-backend:latest
    restart: always
    depends_on:
      - redis
      - evolution-postgres
      - api
      - consumer
    env_file:
      - .env
    ports:
      - 8082:8082
      - 5678:5678
    networks:
      - evolution-net
      - dokploy-network

  consumer:
    container_name: technium_consumer
    build: *backend-build
    image: technium-backend:latest
    restart: always
    depends_on:
      - redis
    env_file:
      - .env
    command: ["python", "consumer.py"]
    networks:
      - evolution-net
      - dokploy-network

  api:
    container_name: evolution_api
    image: evoapicloud/evolution-api:latest
    restart: always
    depends_on:
      - redis
      - evolution-postgres
    ports:
      - 8080:8080
    volumes:
      - evolution_instances:/evolution/instances
    networks:
      - evolution-net
      - dokploy-network
    env_file:
      - .env
    expose:
      - "8080"

  redis:
    container_name: evolution_redis
    image: redis:latest
    restart: always
    command: >
      redis-server --port 6379 --appendonly yes
    volumes:
      - evolution_redis:/data
    networks:
      evolution-net:
        aliases:
          - evolution-redis
      dokploy-network:
        aliases:
          - evolution-redis
    expose:
      - "6379"

  evolution-postgres:
    container_name: evolution_postgres
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - .env
    command:
      - postgres
      - -c
      - max_connections=1000
      - -c
      - listen_addresses=*
    environment:
      - POSTGRES_DB=${POSTGRES_DATABASE}
      - POSTGRES_USER=${POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - evolution-net
      - dokploy-network
    expose:
      - "5432"

volumes:
  evolution_instances:
  evolution_redis:
  postgres_data:

networks:
  evolution-net:
    name: evolution-net
    driver: bridge
  dokploy-network:
